html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select {
	margin: 0;
	padding: 0;
}
*{box-sizing: border-box;}
h1, h2, h3, h4, h5, h6{font-weight:normal;}
ul,ol {
	list-style: none;
}

img {
	border: none;
	vertical-align: middle;
}

a {
	text-decoration: none;
	color: #232323;
}
li{
	list-style-type: none; 
}
.clearfix {
	zoom: 1;
}
/*以上公共部分的代码*/
/*为一个img标签指定-webkit-touch-callout为none也会禁止设备弹出列表按钮，这样用户就无法保存＼复制你的图片了。*/
.top{
	position: relative;
	width: 100%;
	/* height: 964px; */
	
}
.topbg{
	width: 100%;
	/* height:80.333%  */
}
/* 媒体查询 */
/* iphone5 */
@media screen and (min-width: 320px) {
	.img{	
		position: absolute;
		display: block;
		left: 18px;
		top: 40px; 
		width: 12%;
	}
	.footer{
		width: 100%;
		/* height: 236px; */
		margin-top: 0;
	}
	.footer .inner_footer{ 
	/*display: block;
	margin: 0 auto;*/
	text-align: center;
	position: relative;
	/* padding-top:65px; */
}
.botbg{
	width: 100%;
	text-align: center;
	margin-top: -32px;
}
.btn{
	position: absolute;
	width: 68%;
	left: 50%;
	transform: translateX(-50%);
	top: -0.84%;
	/* top: 65px; */
}
.company{
	position: absolute;
	/* top: 35px; */
	bottom: 10%;
	/* 25px */
	left: 50%;
	transform: translateX(-50%);
	color: #b94e00;
	font-family: "微软雅黑";
	font-size: 84%;
	width: 68%;
	/* 23px */
}

}

/* iphone6 */
@media screen and (min-width: 375px) {
	.img{	
		position: absolute;
		display: block;
		left: 18px;
		top: 40px; 
		width: 12%;
	}
	.footer{
		width: 100%;
		/* height: 236px; */
		margin-top: 0;
	}
	.footer .inner_footer{ 
	/*display: block;
	margin: 0 auto;*/
	text-align: center;
	position: relative;
	/* padding-top:65px; */
}
.botbg{
	width: 100%;
	text-align: center;
	margin-top: -36px;
}
.btn{
	position: absolute;
	width: 68%;
	left: 50%;
	transform: translateX(-50%);
	top: -0.84%;
	/* top: 65px; */
}
.company{
	position: absolute;
	/* top: 35px; */
	bottom: 13%;
	/* 25px */
	left: 50%;
	transform: translateX(-50%);
	color: #b94e00;
	font-family: "微软雅黑";
	font-size: 89%%;
	/* 23px */
}

}
/* Galaxy s5 */
@media screen and (min-width: 360px) {
	.img{	
		position: absolute;
		display: block;
		left: 18px;
		top: 40px; 
		width: 12%;
	}
	.footer{
		width: 100%;
		/* height: 236px; */
		margin-top: 0;
	}
	.footer .inner_footer{ 
	/*display: block;
	margin: 0 auto;*/
	text-align: center;
	position: relative;
	/* padding-top:65px; */
}
.botbg{
	width: 100%;
	text-align: center;
	margin-top: -36px;
}
.btn{
	position: absolute;
	width: 68%;
	left: 50%;
	transform: translateX(-50%);
	top: -0.84%;
	/* top: 65px; */
}
.company{
	position: absolute;
	/* top: 35px; */
	bottom: 12%;
	/* 25px */
	left: 50%;
	transform: translateX(-50%);
	color: #b94e00;
	font-family: "微软雅黑";
	font-size: 87%;
	/* 23px */
}
}
/* iPhone6 plus */
@media screen and (min-width: 414px){
	.img{	
		position: absolute;
		display: block;
		left: 18px;
		top: 40px; 
		width: 12%;
	}
	.footer{
		width: 100%;
		/* height: 236px; */
		margin-top: 0;
	}
	.footer .inner_footer{ 
	/*display: block;
	margin: 0 auto;*/
	text-align: center;
	position: relative;
	/* padding-top:65px; */
}
.botbg{
	width: 100%;
	text-align: center;
	margin-top: -41px;
}
.btn{
	position: absolute;
	width: 68%;
	left: 50%;
	transform: translateX(-50%);
	top: -0.84%;
	/* top: 65px; */
}
.company{
	position: absolute;
	/* top: 35px; */
	bottom: 13%;
	/* 25px */
	left: 50%;
	transform: translateX(-50%);
	color: #b94e00;
	font-family: "微软雅黑";
	font-size: 104%;
	/* 23px */
}
 	
} 
/* Nexus 5X */
@media screen and (min-width: 411px) {
	.img{	
	position: absolute;
	display: block;
	left: 18px;
	top: 40px; 
	width: 12%;
}
.footer{
	width: 100%;
	background: url(images/bg_02.jpg) repeat;
	/* height: 236px; */
	margin-top: 0;
}
.footer .inner_footer{ 
	/*display: block;
	margin: 0 auto;*/
	text-align: center;
	position: relative;
	/* padding-top:65px; */
}
.botbg{
	width: 100%;
	text-align: center;
	margin-top: -113px;
}
.btn{
	position: absolute;
	width: 68%;
	left: 50%;
	transform: translateX(-50%);
	top: -195%;
	/* top: 65px; */
}
.company{
	position: absolute;
	/* top: 35px; */
	bottom: 35%;
	/* 25px */
	left: 50%;
	transform: translateX(-50%);
	color: #b94e00;
	font-family: "微软雅黑";
	font-size: 104%;
	/* 23px */
}
	}
	@media screen and (min-width: 435px){
			.img{	
	position: absolute;
	display: block;
	left: 18px;
	top: 40px; 
	width: 12%;
}
.footer{
	width: 100%;
	background: url(images/bg_02.jpg) repeat;
	/* height: 236px; */
	margin-top: 0;
}
.footer .inner_footer{ 
	/*display: block;
	margin: 0 auto;*/
	text-align: center;
	position: relative;
	/* padding-top:65px; */
}
.botbg{
	width: 100%;
	text-align: center;
	margin-top: -113px;
}
.btn{
	position: absolute;
	width: 68%;
	left: 50%;
	transform: translateX(-50%);
	top: -150%;
	/* top: 65px; */
}
.company{
	position: absolute;
	/* top: 35px; */
	bottom: 35%;
	/* 25px */
	left: 50%;
	transform: translateX(-50%);
	color: #b94e00;
	font-family: "微软雅黑";
	font-size: 104%;
	/* 23px */
}
		
	}
	/* iPad */
@media screen and (min-width: 768px){
		.img{	
			position: absolute;
			display: block;
			left: 18px;
			top: 40px; 
			width: 12%;
		}
		.footer{
			width: 100%;
			/* height: 236px; */
			margin-top: 0;
		}
		.footer .inner_footer{ 
	/*display: block;
	margin: 0 auto;*/
	text-align: center;
	position: relative;
	/* padding-top:65px; */
}
.botbg{
	width: 100%;
	text-align: center;
	overflow: hidden;
	margin-top: -32px;
}
.btn{
	position: absolute;
	width: 68%;
	left: 50%;
	transform: translateX(-50%);
	top: -0.84%;
	/* top: 65px; */
}
.company{
	position: absolute;
	/* top: 35px; */
	bottom: 2%;
	/* 25px */
	left: 50%;
	transform: translateX(-50%);
	color: #b94e00;
	font-family: "微软雅黑";
	font-size: 55%;
	/* 23px */
}

}
/* iPad pro */
@media screen and(min-width: 1024px) {
	.img{	
		position: absolute;
		display: block;
		left: 18px;
		top: 40px; 
		width: 12%;
	}
	.footer{
		width: 100%;
		/* height: 236px; */
		margin-top: 0;
	}
	.footer .inner_footer{ 
	/*display: block;
	margin: 0 auto;*/
	text-align: center;
	position: relative;
	/* padding-top:65px; */
}
.botbg{
	width: 100%;
	text-align: center;
	margin-top: -32px;
}
.btn{
	position: absolute;
	width: 68%;
	left: 50%;
	transform: translateX(-50%);
	top: -0.84%;
	/* top: 65px; */
}
.company{
	position: absolute;
	/* top: 35px; */
	bottom: 2%;
	/* 25px */
	left: 50%;
	transform: translateX(-50%);
	color: #b94e00;
	font-family: "微软雅黑";
	font-size: 55%;
	/* 23px */
}

}



